* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a:visited {
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}