* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a:visited {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 769px) {
  body {
    max-width: auto;
  }
}

.sousHeader .sousHeader__contentBtn {
  display: flex;
  justify-content: center;
  padding: 25px 0 50px 0;
}

.listeEPDbtn--bouton {
  width: 99%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCmd {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  width: 200px;
  border-radius: 137px;
  padding: 15px;
  font-size: 15px;
  color: #ffffff;
  border: none;
  transition: background-image 4s ease;
}

.btnCmd:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #9d66e0, #ff89de);
}

.btnCmd:visited {
  color: white;
}

.logo--header {
  height: 40px;
}

.box__coeur {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px 2px 2px;
  flex-wrap: wrap;
}

.fa-heart {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  transition: color 1s ease;
}

.fa-heart:hover {
  cursor: pointer;
  color: #FF79DA;
}

.header--index {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main--index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sousHeader {
  width: 100%;
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column;
}
.sousHeader form {
  width: 100%;
  background-color: rgb(227, 227, 227);
  display: flex;
  height: 57px;
  border-top: 3px solid #dbdbdb;
  align-items: center;
}

form .fa-location-dot {
  position: relative;
  left: 28%;
  bottom: 2px;
  right: 50%;
}
@media (min-width: 375px) {
  form .fa-location-dot {
    left: 32%;
  }
}
@media (min-width: 400px) {
  form .fa-location-dot {
    left: 33%;
  }
}
@media (min-width: 425px) {
  form .fa-location-dot {
    left: 34%;
  }
}
@media (min-width: 500px) {
  form .fa-location-dot {
    left: 35%;
  }
}
@media (min-width: 525px) {
  form .fa-location-dot {
    left: 36%;
  }
}
@media (min-width: 575px) {
  form .fa-location-dot {
    left: 37%;
  }
}
@media (min-width: 600px) {
  form .fa-location-dot {
    left: 38%;
  }
}
@media (min-width: 625px) {
  form .fa-location-dot {
    left: 39%;
  }
}
@media (min-width: 725px) {
  form .fa-location-dot {
    left: 40%;
  }
}
@media (min-width: 769px) {
  form .fa-location-dot {
    left: 41%;
  }
}
@media (min-width: 1024px) {
  form .fa-location-dot {
    left: 43%;
  }
}
form input {
  height: 57px;
  width: 100%;
  background-color: rgb(227, 227, 227);
  text-align: center;
  border: none;
}

::-moz-placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.sousHeader .sousHeader__titreH1 {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 33px;
}

.sousHeader .sousHeader__paragraphe {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 2px 50px 2px;
}
@media (min-width: 769px) {
  .fonctionnement {
    width: 90%;
  }
}
.fonctionnement .fonctionnement__titreH2 {
  margin: 2px 2px 20px 30px;
  list-style: none;
}

.fonctionnement .fonctionnement__grpItems {
  display: flex;
  flex-direction: column;
  margin: 50px 2px 2px 2px;
}
@media (min-width: 769px) {
  .fonctionnement .fonctionnement__grpItems {
    flex-direction: row;
    justify-content: space-between;
  }
}

.fonctionnement .fonctionnement__items {
  background-color: rgb(242, 242, 242);
  width: 88%;
  height: 95px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
  box-shadow: 2px 2px 10px #cccccc;
  position: relative;
}
@media (min-width: 769px) {
  .fonctionnement .fonctionnement__items {
    width: 29%;
    height: 68px;
  }
}

.fonctionnement__items .items__nbr {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -14px;
}
@media (min-width: 769px) {
  .fonctionnement__items .items__nbr {
    left: -13px;
  }
}

.fonctionnement__items .fa-solid {
  margin-left: 45px;
  font-size: 25px;
  color: gray;
}
@media (min-width: 769px) {
  .fonctionnement__items .fa-solid {
    margin-left: 34px;
    font-size: 20px;
  }
}
.fonctionnement__items .fa-solid:hover {
  color: #9356DC;
}

.fonctionnement__items .items__paragraphe {
  margin-left: 45px;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 769px) {
  .fonctionnement__items .items__paragraphe {
    font-size: 15px;
    margin-left: 23px;
  }
}

.restaurent {
  width: 100%;
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-direction: column;
  margin: 20px 2px 2px 2px;
}
@media (min-width: 769px) {
  .restaurent {
    width: 100%;
  }
}
.restaurent .restaurent__titreH2 {
  margin-top: 47px;
  margin-left: 23px;
}

.restaurent .restaurent__grpPhotos {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 76px;
}
@media (min-width: 769px) {
  .restaurent .restaurent__grpPhotos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.restaurent .restaurent_liens {
  width: 93%;
  height: 320px;
  margin: 30px 5px;
  display: flex;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px #cccccc;
}
@media (min-width: 769px) {
  .restaurent .restaurent_liens {
    width: 45%;
  }
}

.restaurent .restaurent__figure {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.restaurent .restaurent__photos {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurent .restaurent__nouveau {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: #59ddc3;
  color: #378777;
  padding: 5px;
}

.restaurent .restaurent__figcaption {
  height: 25%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}

.restaurent .restaurent__H3Quartier {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurent .restaurent__H3 {
  width: 100%;
  margin: 2px 0 10px 10px;
}

.restaurent .restaurent__quartier {
  width: 100%;
  margin: 2px 0 10px 10px;
  font-weight: 100;
}

.header--resto {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
}

.header__logoBox {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  width: 8%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__nav .fa-solid {
  font-size: 45px;
  margin-left: 25px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
}
@media (min-width: 769px) {
  main {
    background-color: #fff;
  }
}
main .main__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 769px) {
  main .main__photo {
    height: 400px;
  }
}

main .main__detailResto {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 55px;
}
@media (min-width: 769px) {
  main .main__detailResto {
    width: 85%;
  }
}

.main__detailResto .detailResto__titreH1Like {
  width: 100%;
  display: flex;
  margin: 40px 2px 2px 2px;
}
@media (min-width: 769px) {
  .main__detailResto .detailResto__titreH1Like {
    justify-content: center;
  }
}

.detailResto__titreH1Like .detailResto__titreH1 {
  width: 85%;
  margin: 5px 2px 2px 2px;
  font-family: "Shrikhand", cursive;
  font-size: 50px;
}
@media (min-width: 769px) {
  .detailResto__titreH1Like .detailResto__titreH1 {
    width: auto;
    margin-right: 26px;
  }
}

.detailResto__listeEPDbtn {
  width: 99%;
  display: flex;
  flex-direction: column;
}
.detailResto__listeEPDbtn .listeEPDbtn {
  width: 99%;
  margin: 45px 2px 2px 2px;
}

.listeEPDbtn .EPDTitreH2EtItem {
  width: 100%;
}
@media (min-width: 769px) {
  .listeEPDbtn .EPDTitreH2EtItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.EPDTitreH2EtItem .EPDTitreH2EtItem__titreH2EtDivBordure {
  width: 99%;
}
@media (min-width: 769px) {
  .EPDTitreH2EtItem .EPDTitreH2EtItem__titreH2EtDivBordure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.EPDTitreH2EtItem__titreH2EtDivBordure .titreH2EtDivBordure__h2 {
  margin-bottom: 5px;
  transition: background-color 3s;
  font-weight: 100;
}

.titreH2EtDivBordure__h2:hover {
  background-color: #ff79da;
}

.EPDTitreH2EtItem__titreH2EtDivBordure .titreH2EtDivBordure__divBordure {
  width: 63px;
  height: 2px;
  border: 1px solid #35bacb;
}

.EPDTitreH2EtItem .EPDTitreH2EtItem__item {
  width: 99%;
  height: 85px;
  border-radius: 18px;
  margin: 20px 2px 2px 2px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .EPDTitreH2EtItem .EPDTitreH2EtItem__item {
    justify-content: center;
    width: 75%;
  }
}

.EPDTitreH2EtItem__item .item__h3DescrpPrix {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  text-overflow: ellipsis;
  transition: border-radius 1s 0.2s ease-out;
}
.EPDTitreH2EtItem__item .item__boxAnim {
  width: 0%;
  opacity: 0;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 18px 18px 0;
  transition: width 1s 0.2s ease-out, opacity 1s 0.2s ease-out;
}

.item__boxAnim .fa-sharp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  font-size: larger;
  font-weight: 900;
  color: #99E2D0;
  border-radius: 50%;
  margin-right: 2px;
  transform: rotate(0deg);
  animation-name: rotationC;
  transition: margin-right 1s 0.2s ease-out, transform 1s 0.2s ease-out;
}

.EPDTitreH2EtItem__item:hover {
  cursor: pointer;
}
.EPDTitreH2EtItem__item:hover .item__boxAnim {
  width: 20%;
  opacity: 1;
}
.EPDTitreH2EtItem__item:hover .fa-sharp {
  margin-right: 50%;
  transform: rotate(360deg);
}
.EPDTitreH2EtItem__item:hover .item__h3DescrpPrix {
  border-radius: 18px 0 0 18px;
}

.animApparition {
  animation: apparition 2s 1s ease forwards;
  opacity: 0;
}

.item1 {
  animation-delay: 1s;
}

.item2 {
  animation-delay: 1.3s;
}

.item3 {
  animation-delay: 1.6s;
}

.item4 {
  animation-delay: 1.9s;
}

.item5 {
  animation-delay: 2.2s;
}

.item6 {
  animation-delay: 2.5s;
}

.item7 {
  animation-delay: 2.8s;
}

.item8 {
  animation-delay: 3.1s;
}

.item9 {
  animation-delay: 3.4s;
}

.item10 {
  animation-delay: 3.7s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.item__h3DescrpPrix .h3DescrpPrix__h3 {
  margin: 2px 0 7px 15px;
  width: 100%;
}
.item__h3DescrpPrix .h3DescrpPrix__descrpPrix {
  margin: 2px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.h3DescrpPrix__descrpPrix .descrpPrix__descrp {
  width: 80%;
  font-weight: 100;
}
.h3DescrpPrix__descrpPrix .descrpPrix__prix {
  width: 20%;
  margin-right: 35px;
  display: flex;
  justify-content: flex-end;
}

footer {
  color: white;
  background-color: rgb(49, 49, 49);
  width: 100%;
  height: 20%;
}
footer .footer__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media (min-width: 769px) {
  footer .footer__box {
    flex-direction: row;
    align-items: center;
  }
}

footer .footer__item {
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  footer .footer__item {
    margin-left: 30px;
  }
}

footer .footer__item--mrgnBot {
  margin-bottom: 20px;
  width: 43%;
  display: flex;
  align-items: center;
  margin-top: 26px;
}
@media (min-width: 769px) {
  footer .footer__item--mrgnBot {
    width: 30%;
  }
}

footer .footer__logo {
  width: 80%;
  margin-bottom: 30px;
  filter: invert(100);
}

@media (min-width: 769px) {
  .fitem__liens {
    font-size: 14px;
  }
}

.footer__item a {
  display: flex;
  width: 100%;
  color: white;
  font-size: 15px;
}
.footer__item i {
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */