* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a:visited {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 769px) {
  body {
    max-width: auto;
  }
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__logo {
  width: 40%;
  height: 70%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sousHeader {
  position: relative;
  width: 100%;
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column;
}
.sousHeader .sousHeader__form {
  height: 57px;
  border-top: 3px solid #dbdbdb;
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.sousHeader .fa-location-dot {
  position: absolute;
  top: 19px;
  left: 110px;
  margin-right: 10px;
}

::-moz-placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.sousHeader .sousHeader__titreH1 {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 33px;
}

.sousHeader .sousHeader__paragraphe {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.sousHeader .sousHeader__contentBtn {
  display: flex;
  justify-content: center;
  padding: 25px 0 50px 0;
}

.sousHeader .sousHeader__btnExplorer {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 137px;
  padding: 15px;
  font-size: 18px;
  color: #ffffff;
  border: none;
}

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 2px 50px 2px;
}
@media (min-width: 769px) {
  .fonctionnement {
    width: 90%;
  }
}
.fonctionnement .fonctionnement__titreH2 {
  margin: 2px 2px 20px 30px;
  list-style: none;
}

.fonctionnement .fonctionnement__grpItems {
  display: flex;
  flex-direction: column;
  margin: 50px 2px 2px 2px;
}
@media (min-width: 769px) {
  .fonctionnement .fonctionnement__grpItems {
    flex-direction: row;
    justify-content: space-between;
  }
}

.fonctionnement .fonctionnement__items {
  background-color: rgb(242, 242, 242);
  width: 88%;
  height: 95px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
  box-shadow: 2px 2px 10px #cccccc;
  position: relative;
}
@media (min-width: 769px) {
  .fonctionnement .fonctionnement__items {
    width: 29%;
    height: 68px;
  }
}

.fonctionnement__items .items__nbr {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -14px;
}
@media (min-width: 769px) {
  .fonctionnement__items .items__nbr {
    left: -13px;
  }
}

.fonctionnement__items .fa-solid {
  margin-left: 45px;
  font-size: 25px;
  color: gray;
}
@media (min-width: 769px) {
  .fonctionnement__items .fa-solid {
    margin-left: 34px;
    font-size: 20px;
  }
}

.fonctionnement__items .items__paragraphe {
  margin-left: 45px;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 769px) {
  .fonctionnement__items .items__paragraphe {
    font-size: 15px;
    margin-left: 23px;
  }
}

.restaurent {
  width: 100%;
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-direction: column;
  margin: 20px 2px 2px 2px;
}
@media (min-width: 769px) {
  .restaurent {
    width: 100%;
  }
}
.restaurent .restaurent__titreH2 {
  margin-top: 47px;
  margin-left: 23px;
}

.restaurent .restaurent__grpPhotos {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 76px;
}
@media (min-width: 769px) {
  .restaurent .restaurent__grpPhotos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.restaurent .restaurent_liens {
  width: 93%;
  height: 350px;
  margin: 30px 5px;
  display: flex;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px #cccccc;
}
@media (min-width: 769px) {
  .restaurent .restaurent_liens {
    width: 45%;
  }
}

.restaurent .restaurent__figure {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.restaurent .restaurent__photos {
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurent .restaurent__nouveau {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: #59ddc3;
  color: #378777;
  padding: 5px;
}

.restaurent .restaurent__figcaption {
  height: 25%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}

.restaurent .restaurent__H3Quartier {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurent .restaurent__H3 {
  width: 100%;
  margin: 2px 0 10px 10px;
}

.restaurent .restaurent__quartier {
  width: 100%;
  margin: 2px 0 10px 10px;
  font-weight: 100;
}

.restaurent .restaurent__fav {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.restaurent .fa-regular {
  font-size: 45px;
  margin-right: 10px;
  position: absolute;
  left: 50%;
  right: 0;
  top: 40%;
  bottom: 50%;
  z-index: 4;
}

.restaurent__fav div {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  height: 44%;
}

.restaurent__fav::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-size: 45px;
  font-weight: 900;
  color: #FF79DA;
  margin-right: 10px;
  position: absolute;
  left: 50%;
  right: 0;
  top: -4%;
  bottom: 50%;
  z-index: 3;
  transition: top 3s ease;
}

.restaurent__fav:hover::after {
  top: 40%;
}

footer {
  color: white;
  background-color: rgb(49, 49, 49);
  width: 100%;
  height: 20%;
}
footer .footer__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media (min-width: 769px) {
  footer .footer__box {
    flex-direction: row;
    align-items: center;
  }
}

footer .footer__item {
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  footer .footer__item {
    margin-left: 30px;
  }
}

footer .footer__item--mrgnBot {
  margin-bottom: 20px;
  width: 43%;
  display: flex;
  align-items: center;
  margin-top: 26px;
}

footer .footer__logo {
  width: 80%;
  margin-bottom: 30px;
  filter: invert(100);
}
@media (min-width: 769px) {
  footer .footer__logo {
    width: 45%;
  }
}

@media (min-width: 769px) {
  .fitem__paragraphe {
    font-size: 14px;
  }
}

.footer__item i {
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */