* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

a:visited {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
}
header .header__nav {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.header__nav .fa-solid {
  font-size: 45px;
}

header .header__logo {
  width: 47%;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .main__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main__detailResto {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 55px;
}

.main__detailResto .detailResto__titreH1Like {
  width: 100%;
  display: flex;
  margin: 40px 2px 2px 2px;
}

.detailResto__titreH1Like .detailResto__titreH1 {
  width: 68%;
  margin: 5px 2px 2px 2px;
}

.detailResto__titreH1Like .fa-regular {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px 2px 2px;
  font-size: 40px;
}

.detailResto__listeEPDbtn {
  width: 99%;
  margin: 30px 2px 2px 2px;
  display: flex;
  flex-direction: column;
}
.detailResto__listeEPDbtn .listeEPDbtn {
  width: 99%;
  margin: 45px 2px 2px 2px;
}

.listeEPDbtn .EPDTitreH2EtItem {
  width: 99%;
}

.listeEPDbtn--bouton {
  width: 99%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listeEPDbtn--bouton .btnCmd {
  width: 35%;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 137px;
  padding: 15px;
  font-size: 18px;
  color: #ffffff;
}

.EPDTitreH2EtItem .EPDTitreH2EtItem__titreH2EtDivBordure {
  width: 99%;
}

.EPDTitreH2EtItem__titreH2EtDivBordure .titreH2EtDivBordure__h2 {
  margin-bottom: 10px;
  transition: background-color 3s;
}

.titreH2EtDivBordure__h2:hover {
  background-color: #ff79da;
}

.EPDTitreH2EtItem__titreH2EtDivBordure .titreH2EtDivBordure__divBordure {
  width: 63px;
  height: 2px;
  border: 2px solid #35bacb;
}

.EPDTitreH2EtItem .EPDTitreH2EtItem__item {
  position: relative;
  width: 99%;
  height: 85px;
  border-radius: 18px;
  margin: 20px 2px 2px 2px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.EPDTitreH2EtItem__item .item__h3DescrpPrix {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 18px;
  background-color: #ffffff;
  transition: width 2s;
}
.EPDTitreH2EtItem__item .item__anim {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 18px;
  display: flex;
  align-items: center;
}
.EPDTitreH2EtItem__item .fa-regular {
  width: 100%;
  background-color: #99E2D0;
  color: #ffffff;
  font-size: 32px;
  border-radius: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item__h3DescrpPrix:hover {
  cursor: pointer;
  width: 80%;
}

.animApparition {
  animation: apparition 2s 1s ease forwards;
  opacity: 0;
}

.item1 {
  animation-delay: 1s;
}

.item2 {
  animation-delay: 1.3s;
}

.item3 {
  animation-delay: 1.6s;
}

.item4 {
  animation-delay: 1.9s;
}

.item5 {
  animation-delay: 2.2s;
}

.item6 {
  animation-delay: 2.5s;
}

.item7 {
  animation-delay: 2.8s;
}

.item8 {
  animation-delay: 3.1s;
}

.item9 {
  animation-delay: 3.4s;
}

.item10 {
  animation-delay: 3.7s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.item__h3DescrpPrix .h3DescrpPrix__h3 {
  margin: 2px 0 7px 15px;
  width: 100%;
}
.item__h3DescrpPrix .h3DescrpPrix__descrpPrix {
  margin: 2px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.h3DescrpPrix__descrpPrix .descrpPrix__descrp {
  width: 80%;
  font-weight: 100;
}
.h3DescrpPrix__descrpPrix .descrpPrix__prix {
  width: 20%;
  margin-right: 35px;
  display: flex;
  justify-content: flex-end;
}

footer {
  color: white;
  background-color: rgb(49, 49, 49);
  width: 100%;
  height: 20%;
}
footer .footer__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

footer .footer__item {
  display: flex;
  margin-bottom: 15px;
  margin-left: 10px;
}

footer .footer__item--mrgnBot {
  margin-bottom: 40px;
  width: 43%;
  display: flex;
  align-items: center;
  margin-top: 26px;
}

footer .footer__logo {
  width: 65%;
  filter: invert(100);
}

.footer__item i {
  margin-right: 10px;
}/*# sourceMappingURL=meStyle.css.map */