.header--resto {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
}


.header__logoBox {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.header__nav {
    width: 8%;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.header__nav {
  .fa-solid {
    font-size: 45px;
    margin-left: 25px;
  }
}