main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;

  @media (min-width: 769px) {
    background-color: #fff;
  }

  .main__photo {
    width: 100%;
    object-fit: cover;

    @media (min-width: 769px) {
      height: 400px;
    }
  }
}

//Ceci est le block SECTION
main {
  .main__detailResto {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 55px;

    @media (min-width: 769px) {
      width: 85%;
    }
  }
}

//Ceci est le block TITREh1LIKE
.main__detailResto {
  .detailResto__titreH1Like {
    width: 100%;
    display: flex;
    margin: 40px 2px 2px 2px;

    @media (min-width: 769px) {
      justify-content: center;
    }
  }
}

.detailResto__titreH1Like {
  .detailResto__titreH1 {
    width: 85%;
    margin: 0px 2px 2px 35px;
    font-family: "Shrikhand", cursive;
    font-size: 50px;

    @media (min-width: 769px) {
      width: auto;
      margin-right: 16px;
    }
  }
}

//Ceci est le block DETAIL-RESTO-LISTE-EPDBTN (ul)
.detailResto__listeEPDbtn {
  width: 99%;
  display: flex;
  flex-direction: column;

  //Ceci est le block ENTRÉES/PLATS/DESSERTS/BTN (li)
  //qui va contenir une autre ul qui va lister
  //un titre H2 ENTREE/PLATS/DESSERTs suivit de
  //chacuns des entrés/plats/desserts/btn
  .listeEPDbtn {
    width: 99%;
    margin: 45px 2px 2px 2px;
  }
}

//Ceci est le block TITREH2-ET-ITEMS (li)
.listeEPDbtn {
  .EPDTitreH2EtItem {
    width: 100%;

    @media (min-width: 769px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//Ceci une modification du block TITREH2-ET-ITEMS
//qui contient un bouton au lieu d'un titreH2 et des items(li)

.EPDTitreH2EtItem {
  .EPDTitreH2EtItem__titreH2EtDivBordure {
    width: 99%;
    @media (min-width: 769px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//Ceci est le block TITREH2-DIVBORDURE
.EPDTitreH2EtItem__titreH2EtDivBordure {
  .titreH2EtDivBordure__h2 {
    margin-bottom: 5px;
    transition: background-color 3s;
    font-weight: 100;
  }
}

.titreH2EtDivBordure__h2:hover {
  background-color: #ff79da;
}

.EPDTitreH2EtItem__titreH2EtDivBordure {
  .titreH2EtDivBordure__divBordure {
    width: 63px;
    height: 2px;
    border: 1px solid #35bacb;
  }
}

.EPDTitreH2EtItem {
  .EPDTitreH2EtItem__item {
    width: 100%;
    height: 85px;
    border-radius: 18px;
    margin: 20px 2px 2px 2px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 769px) {
      justify-content: center;
      width: 75%;
    }
  }
}

//Ceci est le block ITEMS qui indique le nom du plat (titre h3)/sa description/son prix (li)
.EPDTitreH2EtItem__item {
  .item__h3Descrp {
    width: 80%;
    height: 100%;
    border-radius: 18px 0 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item__prix {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #ffffff;
    border-radius: 0 18px 18px 0;
    transition: border-radius 1s 0.2s ease-out;
  }

  .item__boxAnim {
    width: 0%;
    opacity: 0;
    height: 100%;
    background-color: $tertiaire;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 18px 18px 0;
    transition: width 1s 0.2s ease-out, opacity 1s 0.2s ease-out;
  }
}

.item__h3Descrp {
  .h3Descrp__h3 {
    margin: 2px 0 7px 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .h3Descrp__descrp {
    margin: 2px 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}




.item__prix {
  .prix {
    margin: 0 13px 19px 0;
  }
}

.item__boxAnim {
  .fa-sharp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    font-size: larger;
    font-weight: 900;
    color: $tertiaire;
    border-radius: 50%;
    margin-right: 2px;
    transform: rotate(0deg);
    animation-name: rotationC;
    transition: margin-right 1s 0.2s ease-out, transform 1s 0.2s ease-out;
  }
}


.EPDTitreH2EtItem__item:hover {
  cursor: pointer;

  .item__boxAnim {
    width: 20%;
    opacity: 1;
  }

  .fa-sharp {
    margin-right: 50%;
    transform: rotate(350deg);
  }

  .item__prix {
    border-radius: 0px;
  }
}

//ANIMATION APPARITION
.animApparition {
  animation: apparition 2s 1s ease forwards;
  opacity: 0;
}

.item1 {
  animation-delay: 1s;
}

.item2 {
  animation-delay: 1.3s;
}

.item3 {
  animation-delay: 1.6s;
}

.item4 {
  animation-delay: 1.9s;
}

.item5 {
  animation-delay: 2.2s;
}

.item6 {
  animation-delay: 2.5s;
}

.item7 {
  animation-delay: 2.8s;
}

.item8 {
  animation-delay: 3.1s;
}

.item9 {
  animation-delay: 3.4s;
}

.item10 {
  animation-delay: 3.7s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}