.box__coeur {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px 2px 2px;
  flex-wrap: wrap;
}

.fa-heart {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.fa-heart:hover {
    
}
