footer {
  color: white;
  background-color: rgb(49, 49, 49);
  height: 20%;

  .footer__box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: center;
    }
  }
}

footer {
  .footer__item {
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;

    @media (min-width: 769px) {
      margin-left: 30px;
    }
  }
}

footer {
  .footer__item--mrgnBot {
    margin-bottom: 20px;
    width: 43%;
    display: flex;
    align-items: center;
    margin-top: 26px;

    @media (min-width: 769px) {
      width: 30%;
    }
  }
}

footer {
  .footer__logo {
    width: 80%;
    margin-bottom: 30px;
    filter: invert(100);
  }
}

.fitem__liens {
  @media (min-width: 769px) {
    font-size: 14px;
  }
}

.footer__item {
  a {
    display: flex;
    width: 100%;
    color: white;
    font-size: 15px;
  }

  i {
    margin-right: 10px;
  }
}


