main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;

  @media (min-width: 769px) {
    background-color: #fff;
  }

  .main__photo {
    width: 100%;
    object-fit: cover;

    @media (min-width: 769px) {
      height: 400px;
    }
  }
}

//Ceci est le block SECTION
main {
  .main__detailResto {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 55px;

    @media (min-width: 769px) {
      width: 85%;
    }
  }
}

//Ceci est le block TITREh1LIKE
.main__detailResto {
  .detailResto__titreH1Like {
    width: 100%;
    display: flex;
    margin: 40px 2px 2px 2px;

    @media (min-width: 769px) {
      justify-content: center;
    }
  }
}

.detailResto__titreH1Like {
  .detailResto__titreH1 {
    width: 85%;
    margin: 5px 2px 2px 2px;
    font-family: "Shrikhand", cursive;
    font-size: 50px;

    @media (min-width: 769px) {
      width: auto;
      margin-right: 26px;
    }
  }
}

.detailResto__titreH1Like {
  .fa-regular {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 2px 2px 2px;
    font-size: 40px;

    @media (min-width: 769px) {
      width: auto;
    }
  }
}

//Ceci est le block DETAIL-RESTO-LISTE-EPDBTN (ul)
.detailResto__listeEPDbtn {
  width: 99%;
  display: flex;
  flex-direction: column;

  //Ceci est le block ENTRÉES/PLATS/DESSERTS/BTN (li)
  //qui va contenir une autre ul qui va lister
  //un titre H2 ENTREE/PLATS/DESSERTs suivit de
  //chacuns des entrés/plats/desserts/btn
  .listeEPDbtn {
    width: 99%;
    margin: 45px 2px 2px 2px;
    border: 1px solid black;
    padding: 2px;

  }
}

//Ceci est le block TITREH2-ET-ITEMS (li)
.listeEPDbtn {
  .EPDTitreH2EtItem {
    width: 100%;
    border: 1px solid black;
    padding: 2px;

    @media (min-width: 769px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }
}

//Ceci une modification du block TITREH2-ET-ITEMS
//qui contient un bouton au lieu d'un titreH2 et des items(li)
.listeEPDbtn--bouton {
  width: 99%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btnCmd {
    width: 44%;
    background-image: linear-gradient(to top, #9356dc, #ff79da);
    border-radius: 137px;
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
    border: none;
  }
}

.EPDTitreH2EtItem {
  .EPDTitreH2EtItem__titreH2EtDivBordure {
    width: 99%;
    @media (min-width: 769px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//Ceci est le block TITREH2-DIVBORDURE
.EPDTitreH2EtItem__titreH2EtDivBordure {
  .titreH2EtDivBordure__h2 {
    margin-bottom: 5px;
    transition: background-color 3s;
    font-weight: 100;
  }
}

.titreH2EtDivBordure__h2:hover {
  background-color: #ff79da;
}

.EPDTitreH2EtItem__titreH2EtDivBordure {
  .titreH2EtDivBordure__divBordure {
    width: 63px;
    height: 2px;
    border: 1px solid #35bacb;
  }
}

.EPDTitreH2EtItem {
  .EPDTitreH2EtItem__item {
    width: 99%;
    height: 85px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 18px 0 0 18px;
    margin: 20px 2px 2px 2px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 769px) {
      justify-content: center;
      width: 75%;
    }
  }
}

//Ceci est le block ITEMS qui indique le nom du plat (titre h3)/sa description/son prix (li)
.EPDTitreH2EtItem__item {
  .item__h3DescrpPrix {
    width: 90%;
    height: 100%;
    border: 1px solid black;
    border-radius: 18px 0 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    text-overflow: ellipsis;
  }

  .item__boxAnim {
    width: 10%;
    height: 100%;
    background-color: $tertiaire;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.item__boxAnim {
  .fa-sharp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    font-size: larger;
    font-weight: 900;
    color: $tertiaire;
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 50%;
    margin-right: 2px;
    transform-origin: 0 12px;
    transform: rotate('0.5turn');
    position: relative;

  }
}

//ANNIMATION LATTERALE
.animLaterale






//ANIMATION APPARITION
.animApparition {
  animation: apparition 2s 1s ease forwards;
  opacity: 0;
}

.item1 {
  animation-delay: 1s;
}

.item2 {
  animation-delay: 1.3s;
}

.item3 {
  animation-delay: 1.6s;
}

.item4 {
  animation-delay: 1.9s;
}

.item5 {
  animation-delay: 2.2s;
}

.item6 {
  animation-delay: 2.5s;
}

.item7 {
  animation-delay: 2.8s;
}

.item8 {
  animation-delay: 3.1s;
}

.item9 {
  animation-delay: 3.4s;
}

.item10 {
  animation-delay: 3.7s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.item__h3DescrpPrix {
  .h3DescrpPrix__h3 {
    margin: 2px 0 7px 15px;
    width: 100%;
  }

  .h3DescrpPrix__descrpPrix {
    margin: 2px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.h3DescrpPrix__descrpPrix {
  .descrpPrix__descrp {
    width: 80%;
    font-weight: 100;
  }

  .descrpPrix__prix {
    width: 20%;
    margin-right: 35px;
    display: flex;
    justify-content: flex-end;
  }
}
