// Ceci est le block "RESTAURENTS"
.restaurent {
  width: 100%;
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-direction: column;
  margin: 20px 2px 2px 2px;

  @media (min-width: 769px) {
    width: 100%;
  }

  .restaurent__titreH2 {
    margin-top: 47px;
    margin-left: 30px;

    @media (min-width: 769px) {
      margin-left: 87px;
    }
  }
}

.restaurent {
  .restaurent__grpPhotos {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 76px;

    @media (min-width: 769px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.restaurent {
  .restaurent_liens {
    width: 93%;
    height: 320px;
    margin: 30px 5px;
    display: flex;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px #cccccc;

    @media (min-width: 769px) {
      width: 45%;
    }
  }
}

.restaurent {
  .restaurent__figure {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
}

.restaurent {
  .restaurent__photos {
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
}

.restaurent {
  .restaurent__nouveau {
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #59ddc3;
    color: #378777;
    padding: 5px;
  }
}

.restaurent {
  .restaurent__figcaption {
    height: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
  }
}

.restaurent {
  .restaurent__H3Quartier {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 769px) {
      font-size: 18px;
    }
  }
}

.restaurent {
  .restaurent__H3 {
    width: 100%;
    margin: 2px 0 5px 10px;
    font-size: 16px;

    @media (min-width: 769px) {
      font-size: 18px;
    }
  }
}

.restaurent {
  .restaurent__quartier {
    width: 100%;
    margin: 2px 0 10px 10px;
    font-weight: 100;
    font-size: 16px;

    @media (min-width: 769px) {
      font-size: 18px;
    }
  }
}
